section.registration
  .container
    .registration__content
      h1.registration__title.title Начните тороговать  прямо сейчас
      .registration__features
        ul.registration__features-list
          li.registration__features-item Нет спреда — торгуйте с прозрачными и точными котировками
          li.registration__features-item Достаточно депозита в $10, чтобы начать торговать
      .registration__form
        include form
