@font-face {
    font-family: "San-Francisco";
    src: url("fonts/SF.woff2") format("woff2");
    src: url("../fonts/SF.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/OpenSans.woff2") format("woff2");
    src: url("../fonts/OpenSans.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

