// Font
$mainFont: "Open-Sans", helvetica, arial, sans-serif;
$mainFontColor: #7a8f99;
$mainLineHeight: 1.8;

// Resolutions
$mediaWidthMobile: 480px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
